@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li><a asp-page="./Page1">Page 1</a></li>
        <li><a asp-page="./Page2">Page 2</a></li>
        <li><a asp-page="./Page3">Page 3</a></li>
        <li><a asp-page="./Page4">Page 4</a></li>
        <li><a asp-page="./Page5">Page 5</a></li>
    </ul>
</div>
