@page
@model prac6_1000.Pages.page2Model
@{
    ViewData["Title"] = "2 page";
}

<h1>Page 2</h1>
<p>SELECT * from Clients</p>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>

    </tr>
    @foreach (var client in Model.Clients)
    {
        <tr>
            <td>@client.id</td>
            <td>@client.name</td>
        </tr>
    }
</table>
