@page
@model prac6_1000.Pages.Page3Model
@{
    ViewData["Title"] = "Update Status to DONE";
}

<h1>Update Status ticket by id to DONE</h1>

<form method="post">
    <label>Ticket ID:</label>
    <input asp-for="TicketId" /><br><br>

    <button type="submit">Update</button>
</form>

@if (!string.IsNullOrEmpty(Model.ResultMessage))
{
    <p>@Model.ResultMessage</p>
}
